<!DOCTYPE html>
<html>

<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<head><title>Открытый бланк </title>

 <meta name="keywords" content="Быстрая юридическая помощь">
    <meta name="description" content="Открытый бланк юридическая помощь">
    <meta name="author" content="Plutus.inc">


  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600,700&subset=latin,cyrillic-ext,cyrillic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="./css/reset.css" />
    <link rel="stylesheet" type="text/css" href="./css/style.css" />
    <link href="css/no-theme/jquery-ui-1.10.1.custom.css" rel="stylesheet">
	
	<script type="text/javascript" src="./js/jquery-1.8.3.js"></script>
    <script type="text/javascript" src="./js/jquery-ui-1.10.1.custom.min.js"></script>
    <script type="text/javascript" src="./js/jquery.placeholder.min.js"></script>
    <script type="text/javascript" src="./js/jquery.jcarousel.min.js"></script>
    <script type="text/javascript" src="./js/script.js"></script>
    <link rel="icon" type="image/vnd.microsoft.icon" href="favicon.ico">
    <link rel="shortcut icon" href="favicon.ico">
	
</head>
<body>  

<div id="wrap">
<div id="header">
<div class="header">

<a href="" class="logo"><img src="./img/logo.png" alt="" align = "left">

</a>

  <div class="text">
            Скажи штрафам нет
</div>       
</div>
</div>


      <div class="cnt_box box_main">
        <div class="inner">
          <div id="main">
            <ul>
          
           
              <li>
                <div class="pic"><img src="./img/s03.png" alt=""></div>
                <div class="text">
                  <h2>Экономим ВАШИ деньги</h2>
                  <p>Вы сами формируете, типовые заявления</p>
                </div>
              </li>
              <li>
                <div class="pic"><img src="./img/s04.png" alt=""></div>
                <div class="text">
                  <h2>А если что-то<br>не получается?</h2>
                  <p>Вы можете записаться на консультацию <br>к надежным юристам</p>
                </div>
              </li>
              <li>
                <div class="pic"><img src="./img/s05.png" alt=""></div>
                <div class="text">
                  <h2>Мы повышаем и улучшаем</h2>
                  <p>Вашу правовую грамотность  <br>
                   <br>
                  </p>
                </div>
              </li>
            </ul>
            <div class="nav_box">
              <a href="" class="item1"></a>
              <a href="" class="item2"></a>
              <a href="" class="item3"></a>
             
            </div>
          </div>
          <div class="order_form">
            <div class="title">
              <!<b><!Открытый Бланк</b>
              Попробуйте<br>
              Укажите ваши данные<br>
              </div>
			  
			  <form action="action.php" method="post">


 <div class="row l_name">
 <label>ФИО:</label>
<input type="text" name="name" pattern="^[А-Яа-яЁё\s]+$" required  size="30"  placeholder="Введите фамилию имя и отчество"/>
</div>
<br>
 <div class="row l_name">
<label>Адрес по прописке:</label>
<input type="text" name="address"  required  size="40"  placeholder="Республика Бурятия Улан-Удэ"/></p>
</div>

<div class="row_button"><button class="orange" type="submit" >Отправить</button></div>

</form>

<?php
echo htmlspecialchars($_POST['name']);
ini_set('display_errors',1); //включаем вывод ошибок
error_reporting(E_ALL);
?>
			  
			  
			
			
			
          </div>
        </div>
      </div>


      


      
                   


 <div class="cnt_box box_text">
        <div class="inner">
          <h2 class="blue">Поможем вам составить заявление</h2>
          <div class="text_box">
            <div class="block1 block_left">
              <img src="./img/text1.png" alt="" class="pic">
              <p><strong>Текст мы хорошие</strong>Текст мы хорошие</p>
            </div>
            <div class="block2 block_right">
              <img src="./img/text2.png" alt="" class="pic">
              <p><strong>Текст мы хорошие</strong> Текст мы хорошие</p>
            </div>
            <div class="block3 block_left">
              <img src="./img/text3.png" alt="" class="pic">
              <p><strong>Текст мы хорошие</strong>Текст мы хорошие </p>
            </div>
            <div class="block4 block_right">
              <img src="./img/text4.png" alt="" class="pic">
              <p><strong>Текст мы хорошие</strong>Текст мы хорошие.</p>
            </div>
            <div class="block5 block_left">
              <img src="./img/text5.png" alt="" class="pic">
              <p><strong>Текст мы хорошие</strong>Текст мы хорошие.</p>
            </div>
          </div>
        </div>
      </div>
     
      <div class="cnt_box box_text2">
        <div class="inner">
          <h2>Что Вы получаете в итоге?</h2>
          <p>Готовое заявление  и  по типовому делу
          <br>Быстро бесплатно снижая Ваши расходы.</p>
        </div>
      </div>
    
      <div class="cnt_box box_red box_color">
        <div class="inner">
          <div class="text">
           
            
            У вас вопросы?Пишите!
          </div>
 	 <div class="info">
            <div class="tel">+7 914 <span>055-88-23</span></div>
            <div class="adr">Республика Бурятия г.Улан-Удэ ул.Ленина д.54</div>
          </div>      
        </div>
      </div>



      <div class="cnt_box box_keis">
        <div class="inner">
          <div id="slider_keis">
            <ul>
              <li>
                <div class="keis_block">
                  <div class="pic"><img src="./img/keis1.jpg" alt=""></div>
                  <p>Иван<br>
                  <a href="">Написать</a></p>
                </div>
                <div class="keis_block">
                  <div class="pic"><img src="./img/keis2.jpg" alt=""></div>
                  <p>Виолла<br>
                  <a href="">Написать</a></p>
                </div>
                <div class="keis_block">
                  <div class="pic"><img src="./img/keis3.jpg" alt=""></div>
                  <p>Петр<br>
                <a href="">Написать</a></p>
                </div>
                <div class="keis_block">
                  <div class="pic"><img src="./img/keis4.jpg" alt=""></div>
                  <p>Маргарита<br>
                  <a href="">Написать</a></p>
                </div>
              </li>
     
	 </ul>
            <div class="nav_box">
              <a href=""></a>
            </div>
          </div>
        </div>
      </div>

   
      <div id="footer">
        <div class="footer">
         
          <div class="info">
            <div class="tel">+7 914 <span>055-88-23</span></div>
            <div class="adr">Республика Бурятия г.Улан-Удэ ул.Ленина д.54</div>
        
          </div>
          Email: Plutus@Plutus.INC
          <p>© 2016.</p>
        </div>
      </div>

  




</div>






</body>
</html>
